<div class="tb-data admins-lista" data-pagination-target="viewport" >
  <div id="admins_list">
    <%= render partial: 'lista_admins_items' %>
  </div>
  <div class="more-items" id="more_items">
    <%= render partial: 'admins_pagination' %>
  </div>
</div>
