<div class="frm model">
  <%= render partial: 'shared/model_header', locals: { icone: 'users-gear', texto: 'Administradores'} %>
  <div class="frm-actions">
    <%= link_to "<< Voltar a lista de administradores", admins_path %>
  </div>
  <%= render partial: 'edit' %>
</div>
