<div class="tb-data bulas-lista" data-pagination-target="document" >
  <div id="bulas_list">
    <%= render partial: 'lista_bulas_items' %>
  </div>
  <div class="more-items" id="more_items">
    <%= render partial: 'bulas_pagination' %>
  </div>
</div>

