<div class="tb-data users-lista" data-pagination-target="document" >
  <div id="users_list">
    <%= render partial: 'lista_users_items' %>
  </div>
  <div class="more-items" id="more_items">
    <%= render partial: 'users_pagination' %>
  </div>
</div>
