<style>
  .main {
    margin-top: 20%;
    text-align: center;
  }
</style>
<div class="main">
  <h1>Bula Digital</h1>
  <h3>Um projeto desenvolvido pelos alunos do curso <b>Incubadoras Criativas</b> - Turmas Ceilândia 1 e 2</h3>
</div>
