/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import 'padroes';
@import 'resset';
@import 'default';
@import 'main';
@import 'forms';
@import "actiontext";

html {
  font-family: 'Ubuntu';
  font-size: 1em;
  background-color: $background;
}

.titulo { color: $color;}

.frm-login {
  max-width: 400px;
  margin: 12% auto;
}

.main-full {
  display: flex;
  svg { margin-right: .5em;}
  .panel-left {
    flex: 0 0 $panel-left-width;
    padding: 12px 0px;
    background-color: $background-menu;
    .main-menu {
      margin-top: 12px;
      color: $text-menu;
      a {
        color: inherit;
        text-decoration: unset;
      }
      li.menu-item, li.menu-item-space {
        margin: 6px 0;
        padding: 8px 16px;
        &.selected {
          color: $text-menu-selected;
        }
      }
      li.menu-item:hover {
        background-color: $item-menu-hover;
      }
    }
  }
  .panel-right {
    flex: 0 0 calc(100% - #{$panel-left-width});
    .header-panel {
      background-color: $background-menu;
      ul {
        display: flex;
        justify-content: flex-end;
        max-width: 100vw;
        margin-right: 54px;
        li {
          color: $text-menu;
          margin: 6px 12px;;
          a {
            color: inherit;
          }
        }
      }
    }
    .work-area {
      padding: 12px;
    }
  }
}

.model {
  box-shadow: 0 0 3px $color;
  border-radius: 6px;
  .model-header {
    margin-bottom: 24px;
    border-bottom: 1px solid $color;
    padding-bottom: 6px;
  }
  .form {
    &.admins.edit, &.admins.new {
      width: 600px;
    }

  }
}
.frm-actions {
  margin: 12px;
}
//listas
.lista {
  .count-items {
    color: $label;
    font-size: .8em;
    padding-left: 12px;
  }
  .lista-header {
    background: $color;
    color: $label-light;
  }
  ul {
    display: flex;
  }
  li {
    border-right: 1px solid $border;
    padding: 2px 6px;
    &:last-child {
      border-right: transparent;
    }
  }
  a {
    color: unset;
    text-decoration: unset;
  }
  .tb-data {
    border: 1px solid $border;

    .item-lista {
      ul:hover {
        background: $lista-hover;
      }
    }
    .item-lista:nth-child(odd) {
      ul {
        background: $odd;
        &:hover {
          background: $lista-hover;
        }
      }
    }

  }
  &.admins, &.users {
    .nome { width: 350px;}
    .email { width: 350px;}
    .nickname { width: 250px;}
    .role { width: 200px;}
  }

  &.bulas {
    .cc {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .denominacao { width: 450px; }
    .grupo { width: calc(100% - 500px); }
  }
}

//navecação pelos registros
.bula-nav {
  .form-nav {
    display: flex;
    justify-content: flex-end;
    //a { color: inherit; text-decoration: none;}
    a {
      padding: 4px 24px;
      font-size: 1em;
      cursor: pointer;
      box-shadow: 0 0 3px $color;
      color: $color;
      background: $color-A;
      margin-left: 12px;
      &:hover {
        color: $color-A;
        background: $color;
      }
      li {
        svg { margin: 0}
      }
    }
  }
}



/* direct_uploads.css */
.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
/* Direct_upload.css */

//lista-ttachments
.lista-attachments {
  ul {
    display: flex;
    align-items: center;
    //border: 1px solid #ddd;
    li { padding: 3px 6px; }
    li.pdf-file {
      width: 250px
    }
    li.status {
      width: calc(100% - 188px);
      border-left: 1px solid #ddd
    }
    li.action {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .reload { color: navy; font-size: 1em;}
      .remove { color: maroon; font-size: 1em;}
    }
    &:nth-child(odd) {
      background-color: $odd
    }
  }
  .status {
    font-size: .8em;
  }
  .label-box {
    color: $color;
    background: $color-A;
    cursor: pointer;
  }

}

/*
.trix-content ul {padding-left: 24px }
.trix-content div {padding: 12px 0;}
*/
