* {
  box-sizing: border-box;
}

.row {
  display: flex;
  .col-10 { flex: 0 0 10%;}
  .col-20 { flex: 0 0 20%;}
  .col-25 { flex: 0 0 25%;}
  .col-30 { flex: 0 0 30%;}
  .col-33 { flex: 0 0 33.33%;}
  .col-40 { flex: 0 0 40%;}
  .col-50 { flex: 0 0 50%;}
  .col-60 { flex: 0 0 60%;}
  .col-70 { flex: 0 0 70%;}
  .col-75 { flex: 0 0 75%;}
  .col-80 { flex: 0 0 80%;}
  .col-90 { flex: 0 0 90%;}
  .col-100 { flex: 0 0 100%;}
  .center-justify { justify-content: center; }
  .left-justify {justify-content: flex-start;}
  .right-justify {justify-content: flex-end;}
}
